/* button styling and positioning */
#carouselContainer {
    text-align: center;
    background:linear-gradient(45deg,rgb(218, 208, 208), rgb(80, 79, 79));
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 30px;
    overflow: hidden;
    box-shadow: 10px 10px 3px 10px rgb(126, 124, 119);
    position: relative;
}

/* button styling */
button {
    background-color: rgb(92, 87, 87);
    border-style: none;
    color: rgb(146, 141, 141);
    font-size: xx-large;
    font-weight: 900;
    font-family: "Arial";
    opacity: 0.1;
    position: absolute;
    z-index: 99;    /* 99 value ensures that the buttons stays on top of the images */
}

#buttonLeft {
    left: 0;
    top: 45%;
    margin-left: 30px;
}

#buttonRight{
    right: 0;
    top: 45%;
    margin-right: 30px;
}

#playButton{
    bottom: 0;
    margin-bottom: 30px;
}

button:hover {
    opacity: 0.7;
}

/* image positioning */
.imageContainer{
    background-color: rgb(37, 37, 36);
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;      
    overflow: hidden;
}

.imgOFF {
    display: none;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
}

.imgON {
    display: block;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
}

.caption{
    color: #e9e5e5;
    text-shadow: 1px 1px 2px rgb(46, 46, 45) ;
    font-weight: 900;
    font-size: 2.2vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    position: absolute;
    left: 0%;
    margin-left: 30px;
}
