/*
#073040 - blue
#255459 - green
#F2CC85 - medium yellow
#F2B66D - dark yellow
#F2D7B6 - light yellow

#DFF2B6 - lime
#F2A099 - pink

#404040 -  text color black text color

#F2EFE4
#CB8C1D
#4C3327
#BD3632 


.color-theme_brain-1-hex { color: #424073; }
.color-theme_brain-2-hex { color: #79BAF2; } -blue
.color-theme_brain-3-hex { color: #D5D971; } -green 
.color-theme_brain-4-hex { color: #F2B077; } -light brown
.color-theme_brain-5-hex { color: #F2887E; } -dark brown


.color-theme_brain-1-rgba { color: rgba(66, 64, 115, 1); }
.color-theme_brain-2-rgba { color: rgba(121, 186, 242, 1); }
.color-theme_brain-3-rgba { color: rgba(213, 217, 113, 1); }
.color-theme_brain-4-rgba { color: rgba(242, 176, 119, 1); }
.color-theme_brain-5-rgba { color: rgba(242, 136, 126, 1); } 
*/

    /* background: linear-gradient(-45deg, rgb(173, 98, 52) 10%, rgb(143, 55, 0) 80%); */
    /* background: linear-gradient(35deg, #5d6a77 10%, #222930 80%); */
    /* background-color: rgb(66, 136, 197); */
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, rgb(91, 144, 168) 5%, rgb(29, 94, 124) 70%);
    color: rgb(219, 219, 219);
    text-align: center;
    overflow-x: hidden;
}

#main {
    width: 90%;
    margin: auto;
    flex-shrink: 3;
    justify-self: center;
}

/* 1.~~~~~~Profile section~~~~~ */
#myProfile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* 1.2 text and button style and positioning */
.name {
  align-self: flex-end;
  animation: slideLeft;
  animation-duration: 4s;
}

.welcome {
    animation: slideDown 8s;
}

.quote {
    animation: opacitiyChange 8s;
    margin-top: 50px;    
}

.sound {
    animation: slideRight 2s;
}

#musicButton {
    margin-left: 15px;
    padding: 5px 15px;
    font-size: x-large;
    color: rgb(219, 219, 219);
    background: linear-gradient(20deg, rgb(145, 91, 71) 10%, #C96542 60%);
    box-shadow: 0px 0px 1px 3px rgb(95, 95, 95);
    border-radius: 100%;
}
/* scroll down arrow */

.scrollArrow {
    width: 35px;
    height: 35px;
    background: linear-gradient(45deg, rgb(174, 177, 92) 50%, transparent 50%);
    transform: rotate(-45deg);
    justify-content: center;
    border-radius: 10px;
    border-width: 6px;
    border-color: rgb(146, 148, 79);
    border-left-style: solid;
    border-bottom-style: solid;
}   

.scrollDown {
    animation: jump 0.75s infinite;
}

/* animation: jump 1s infinite; */


/* 1.3 Profile section animations */

@keyframes slideLeft {
    0% {transform: translateX(200%);}
    100% {transform: translateX(0);}
}

@keyframes slideDown {
    0% {transform: translateY(200%);}
    100% {transform: translateY(0);}  
}

@keyframes opacitiyChange {
    0% {opacity: 0;}
    100% {opacity: 1;}  
}

@keyframes slideRight {
    0% {transform: translateX(-500%);}
    100% {transform: translateX(0);}
}

@keyframes jump {
    0% {transform: translateY(-50%);}
    45% {transform: scaleX(1.3);}
    50% {transform: translateY(0); transform: scaleX(1.3);} 
    65% {transform: scaleX(1.3);} 
    100% {transform: translateY(-50%);}
}

/* ~~~~~~funFact section~~~~~ */
#funFact {
    height: 100vh;
    margin-bottom: 50px;
}
/* image styling */
.dieHardImg {
    max-width: 512px;
}



#fac {
    border-style: dashed;
    border-color: rgb(219, 219, 219);
    margin-top: 10px;
    text-align: justify;
    text-indent: 10%;
}



